NODE_ENV=development
prodDBUrl=
defaultDB=chatstill
devDBUrl=mongodb://localhost:27017/chatstill-dev
devDefaultDB=chatstill-dev
testDBUrl=mongodb://localhost:27017/chatstill-test
testDefaultDB=chatstill-test